.header{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
}

.welcome{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    align-items: center;
    padding-bottom: 60px;
}
.leftside{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    flex: 0, 0, auto;
    justify-content: left;
}
.drawing{
    padding: 40px;
    width: 300px;
    flex: 1, 1, auto;
}
.signup{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 8px;
}

.information{
    text-align: center;
}
.catpictures{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.catpic{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-itens: center;
    justify-content: start;
    gap: 4px;
}
.catpic > img {
    border-radius: 20px;

}
q{
   font-style: italic;
   min-width: 3px; 

   flex-shrink: 1;
}
.quotations > p {
    align-self:flex-end;
    font-size: 10pt;
   
}
.quotes{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: center;
    height: 250px;
    gap: 10px;
}
.quotations{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.41);
    margin: 10px;
}